<script setup lang="ts">
import { useTheme } from '@/entities/theme';

const { themeDark } = storeToRefs(useTheme());

const isBgColor = computed(() => (themeDark.value ? 'dark-bg' : 'bg'));

const isColorText = computed(() =>
  themeDark.value ? 'dark-color-details' : 'color-text ',
);

defineProps({
  item: {
    type: Object as PropType<Record<string, string>>,
    default: () => ({}),
  },
});
</script>

<template>
  <div
    class="v-card"
    :class="isBgColor"
  >
    <div class="v-card__box">
      <div class="v-card__icon">
        {{ item.icon }}
      </div>

      <div class="v-card__title">
        {{ item.title }}
      </div>

      <div
        class="v-card__details"
        :class="isColorText"
      >
        {{ item.details }}
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.dark-bg {
  border: 1px solid #202127;
  background-color: #202127;
}

.color-text {
  color: rgba(60, 60, 67, 0.78);
}

.dark-color-details {
  color: rgba(235, 235, 245, 0.6);
}

.bg {
  border: 1px solid #f6f6f7;
  background-color: #f6f6f7;
}

.v-card {
  display: block;

  border-radius: 12px;
  height: 100%;

  transition:
    border-color 0.25s,
    background-color 0.25s;

  &__box {
    display: flex;
    flex-direction: column;
    padding: 24px;
    height: 100%;
  }

  &__title {
    line-height: 24px;
    font-size: 16px;
    font-weight: 600;
  }

  &__details {
    padding-top: 8px;
    line-height: 24px;
    font-size: 14px;
    font-weight: 500;

    transition: 0.1s;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 6px;
    background-color: rgba(142, 150, 170, 0.14);
    width: 48px;
    height: 48px;
    font-size: 24px;
    transition: background-color 0.25s;
  }
}
</style>
