<script setup lang="ts">
import { PageLayout, VCard } from '@/shared/ui';

import { ITEMS_CARDS } from './consts';

import { useLogin } from '@/entities/login';

const { showModal } = storeToRefs(useLogin());

const openModal = () => {
  showModal.value = true;
};
</script>

<template>
  <PageLayout no-border>
    <div class="container-main">
      <div class="flex">
        <div class="main">
          <div class="main__title">
            <n-text>Vue</n-text>
          </div>

          <div>Robot Control Cloud Management</div>

          <div class="main__small">
            Effortless Management for Your Mechanical Workforce
          </div>

          <n-flex class="main-buttons">
            <n-button
              type="success"
              round
              size="large"
              @click="openModal"
            >
              <span> Get Started </span>
            </n-button>

            <n-button
              secondary
              round
              target="_blank"
              tag="a"
              href="https://vuejs.org/"
              size="large"
            >
              <span> Why Vue? </span>
            </n-button>

            <n-button
              secondary
              round
              target="_blank"
              tag="a"
              href="https://gitlab.com/Ni1k/cloud_service_robots"
              size="large"
            >
              <span> View on Gitlab </span>
            </n-button>
          </n-flex>
        </div>

        <div class="image">
          <img
            width="400"
            src="@/assets/svg/ai.gif"
          />
        </div>
      </div>

      <div class="layouts-cards">
        <v-card
          v-for="(item, index) in ITEMS_CARDS"
          :key="index"
          :item="item"
        />
      </div>
    </div>
  </PageLayout>
</template>

<style lang="scss" scoped>
.layouts-cards {
  display: grid;
  gap: 16px;

  grid-template-columns: 1fr 1fr 1fr;
}
.container-main {
  margin: 0 auto;
  max-width: 1200px;
}

.main-buttons {
  padding-top: 32px;

  span {
    font-weight: 600;
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-bottom: 32px;
}
.main {
  line-height: 64px;
  font-size: 56px;
  font-weight: 700;
  max-width: 592px;
  text-align: left;

  &__title {
    :deep(.n-text) {
      background: -webkit-linear-gradient(120deg, #63e2b7, #63e2b7);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &__small {
    padding-top: 12px;
    line-height: 36px;
    font-size: 24px;
    font-weight: 500;
    max-width: 576px;
  }
}
</style>
