<script setup lang="ts">
import { PageLayout } from '@/shared/ui';
import { v4 as uuidv4 } from 'uuid';
import {
  useCurrentUser,
  useFirestore,
  useDocument,
  useCollection,
  useFirebaseStorage,
  useStorageFileUrl,
} from 'vuefire';
import { setDoc, doc, collection } from 'firebase/firestore';
import { ref as storageRef } from 'firebase/storage';

import { ItemCard } from './item-card';

const db = useFirestore();
const storage = useFirebaseStorage();

const mountainFileRef = storageRef(storage, 'YahboomRobot.jpg');

const robots = useDocument(doc(db, 'robots', 'y0aSlvp3iEJQBCMPkFEp'));

const {
  url,
  // refresh the url if the file changes
  refresh,
} = useStorageFileUrl(mountainFileRef);
</script>

<template>
  <PageLayout no-border>
    <template #header>
      <n-text class="header">Роботы</n-text>
    </template>

    <n-spin
      v-if="!url || !robots"
      size="large"
    />

    <ItemCard
      v-else
      v-for="robot in robots.items"
      :key="robot.uid"
      :item="robot"
      :img="url"
    />
  </PageLayout>
</template>

<style lang="scss" scoped>
.header {
  font-size: 36px;
  font-weight: 700;
}
</style>
