<script setup lang="ts">
import { isEmpty } from 'lodash-es';
import { PageLayout } from '@/shared/ui';
import { v4 as uuidv4 } from 'uuid';

import { useCurrentUser, useFirestore, useDocument } from 'vuefire';
import { setDoc, doc } from 'firebase/firestore';

import { AddDatasets } from './add-datasets';
import { CardDatasets } from './card-datasets';
import { ItemCard } from './item-card';

const user = useCurrentUser();
const db = useFirestore();

const showModal = ref(false);

const datasets = useDocument(doc(db, 'datasets', user.value!.uid));

const openModal = () => {
  showModal.value = true;
};

const addDatasets = async ({ name }: { name: string }) => {
  if (!user.value?.uid && !name) return;

  const item = {
    class: name,
    uid: uuidv4(),
    images: [],
  };

  if (!datasets.value?.items) {
    datasets.value = {
      items: [{ ...item }],
    };
  } else {
    datasets.value.items.push(item);
  }

  await setDoc(doc(db, 'datasets', user.value!.uid), datasets.value);

  showModal.value = false;
};
</script>

<template>
  <PageLayout no-border>
    <template #header>
      <n-text class="header">Datasets</n-text>
    </template>

    <div class="datasets">
      <div class="datasets__title">Image</div>

      <n-space>
        <ItemCard @open-modal="openModal" />

        <n-space v-if="!isEmpty(datasets)">
          <CardDatasets
            v-for="(item, index) in datasets!.items"
            :key="index"
            :item="item"
          />
        </n-space>
      </n-space>

      <AddDatasets
        v-model="showModal"
        @add-datasets="addDatasets"
      />
    </div>
  </PageLayout>
</template>

<style lang="scss" scoped>
.n-gradient-text {
  font-size: 36px;
}

.datasets {
  padding-top: 50px;

  &__title {
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 15px;
  }
}

.header {
  font-size: 36px;
  font-weight: 700;
}
</style>
