<script setup lang="ts">
import { isEmpty } from 'lodash-es';
import { PageLayout } from '@/shared/ui';
import { useCurrentUser, useFirestore, useDocument } from 'vuefire';
import { setDoc, doc, collection } from 'firebase/firestore';
import { io } from 'socket.io-client';
const route = useRoute();
const db = useFirestore();
const user = useCurrentUser();

const guid = computed(() => route.params?.id as string);
const cameraLeft = ref(90);
const cameraUp = ref(90);
const distance = ref(0);

const { data } = useDocument(doc(db, 'robots', 'y0aSlvp3iEJQBCMPkFEp'));

const robot = computed(() =>
  data.value && data.value.items
    ? data.value.items.find((item: any) => item.uid === guid.value)
    : null,
);

const soket = io('http://192.168.0.61:8000');

const control = (name: string) => {
  soket.emit('control', name);
};

soket.on('distance', (data) => {
  distance.value = data.distance;
});

soket.on('battery', (data) => {
  console.log(data);
});

const camera = (name: string, angle: number) => {
  soket.emit('camera', name, angle);
};

const stop = () => {
  soket.emit('control', 'stop');
};

watch(cameraLeft, (newValue) => {
  camera('camera_left', newValue);
});
watch(cameraUp, (newValue) => {
  camera('camera_up', newValue);
});
</script>

<template>
  <n-space
    v-if="isEmpty(robot)"
    class="app-loader"
    justify="center"
  >
    <n-spin size="large" />
  </n-space>

  <PageLayout
    v-else
    no-border
  >
    <template #header>
      <n-text class="header">{{ robot.models }}</n-text>
    </template>

    <template #filters>
      <n-flex class="flex-camera">
        <n-image
          class="img"
          width="500"
          src="http://192.168.0.61:8000/mjpeg"
        >
        </n-image>

        <n-space vertical>
          <n-text class="title">Телеметрия</n-text>

          <n-flex>
            <n-text class="small-text"> Ультразвуковая дальнометрия </n-text>
            <n-text class="small-text">{{ distance.toFixed(2) }}</n-text>
          </n-flex>
        </n-space>
      </n-flex>

      <n-space
        class="servo"
        vertical
      >
        <n-text class="title">Повороты камеры</n-text>

        <n-space
          vertical
          style="width: 500px"
        >
          <n-slider
            v-model:value="cameraLeft"
            :max="180"
            :min="0"
          />
          <n-slider
            :max="180"
            :min="0"
            v-model:value="cameraUp"
          />
        </n-space>
      </n-space>

      <n-space
        class="control"
        vertical
      >
        <n-text class="title">Управление</n-text>

        <div class="control-group">
          <n-button
            class="control-group__forward"
            @mousedown="control('forward')"
            @mouseup="stop"
            tabindex="0"
          >
            Вперед
          </n-button>

          <n-button
            class="control-group__backward"
            @mousedown="control('backward')"
            @mouseup="stop"
            tabindex="0"
          >
            Назад
          </n-button>

          <n-button
            class="control-group__left"
            @mousedown="control('left')"
            @mouseup="stop"
            tabindex="0"
          >
            Влево
          </n-button>

          <n-button
            class="control-group__right"
            @mousedown="control('right')"
            @mouseup="stop"
            tabindex="0"
          >
            Вправо
          </n-button>
        </div>
      </n-space>
    </template>
  </PageLayout>
</template>

<style lang="scss" scoped>
.control-group {
  position: relative;
  width: 200px;
  height: 150px;
  &__forward {
    position: absolute;
    top: 0;
    left: 50px;
  }
  &__backward {
    position: absolute;
    top: 100px;
    left: 50px;
  }
  &__left {
    position: absolute;
    top: 50px;
    left: 0;
  }
  &__right {
    position: absolute;
    top: 50px;
    left: 100px;
  }
}
.flex-camera {
  padding-bottom: 50px;
}
.small-text {
  font-size: 20px;
  font-weight: 600;
}
.title {
  font-size: 26px;
  font-weight: 600;
}
.header {
  font-size: 36px;
  font-weight: 700;
}

.img {
  border-radius: 20px;
}

.app-loader {
  height: 50vh;
  align-items: center;
}
</style>
