<script setup lang="ts">
import { RouterLink, useLink } from 'vue-router';
import { h } from 'vue';

import { options } from './consts';

const findMenuValue = (options: any) => {
  console.log(options);
  for (const option of options) {
    if (option.children) {
      return findMenuValue(option.children);
    }

    if (!option.routeName) {
      continue;
    }

    const { isActive } = useLink({ to: option.routeName });

    if (isActive.value) {
      return option.key;
    }
  }

  return null;
};

const menuValue = computed(() => findMenuValue(options));

const renderMenuLabel = (option: any) => {
  if (option.routeName) {
    return h(
      RouterLink,
      { to: { path: option.routeName } },
      { default: () => option.label },
    );
  }

  return h('span', null, option.label);
};

const getProps = (option: any) => ({
  style: { '--accent-color': option.accentColor },
});
</script>

<template>
  <div class="sidebar-logo"></div>
  <n-menu
    class="menu-info"
    inverted
    :indent="18"
    :options="options"
    :value="menuValue"
    :node-props="getProps"
    :collapsed-width="64"
    :collapsed-icon-size="22"
    :render-label="renderMenuLabel"
  />
</template>

<style lang="scss">
.menu-info {
  &.n-menu,
  &.n-menu--collapsed {
    .n-menu-item {
      .n-menu-item-content {
        --current-color: #bfc7d0;

        &:hover:not(.n-menu-item-content--selected) {
          --current-color: #ec2a2a;
        }

        &__icon {
          svg {
            fill: var(--current-color);
            transition: fill 0.3s var(--n-bezier);
          }
        }

        &-header {
          a,
          span {
            color: var(--current-color);
          }

          a:hover {
            background-color: inherit;
          }
        }

        &--selected {
          --current-color: white;

          &:before {
            background-color: var(--accent-color) !important;
          }
        }
      }
    }
  }
}
</style>

<style lang="scss" scoped>
.sidebar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  margin-bottom: 7px;
}
</style>
