<script setup lang="ts">
import { ruRU, dateRuRU } from 'naive-ui';
import { RouterView } from 'vue-router';

import { darkTheme } from 'naive-ui';

import { useTheme } from '@/entities/theme';
import { darkThemeOverrides, ThemeOverrides } from './utils';

const { themeDark } = storeToRefs(useTheme());
</script>

<template>
  <n-config-provider
    :theme-overrides="themeDark ? darkThemeOverrides : ThemeOverrides"
    :locale="ruRU"
    :theme="themeDark ? darkTheme : null"
    :date-locale="dateRuRU"
  >
    <n-notification-provider>
      <n-dialog-provider>
        <n-message-provider>
          <n-loading-bar-provider>
            <router-view></router-view>
          </n-loading-bar-provider>
        </n-message-provider>
      </n-dialog-provider>
    </n-notification-provider>
  </n-config-provider>
</template>
