.n-layout .n-layout-scroll-container {
  overflow: initial;
}

body {
  --text: rgba(60, 60, 67);

  cursor: inherit !important;

  font-family: 'Chinese Quotes', Inter, ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.container {
  width: 100%;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}
