<script setup lang="ts">
import gitlab from '@/assets/svg/gitlab.vue';
import github from '@/assets/svg/github.vue';
import dark from '@/assets/svg/dark.vue';
import sun from '@/assets/svg/sun.vue';

import { useTheme } from '@/entities/theme';

import type { CSSProperties } from 'vue';

import { useCurrentUser } from 'vuefire';

defineProps({
  isLoadingSignOut: {
    type: Boolean as PropType<boolean>,
    default: false,
  },
});

const user = useCurrentUser();

const { themeDark } = storeToRefs(useTheme());

const railStyle = ({ checked }: { focused: boolean; checked: boolean }) => {
  const style: CSSProperties = {};
  if (checked) {
    style.background = 'rgba(101, 117, 133, .16)';
  } else {
    style.background = 'rgba(142, 150, 170, .14)';
  }
  return style;
};

const emit = defineEmits<{
  (e: 'sign-in', v: string): void;
  (e: 'sign-up', v: string): void;
  (e: 'sign-out'): void;
}>();
</script>

<template>
  <n-flex
    align="center"
    justify="space-between"
  >
    <n-flex
      align="center"
      class="header__logo"
    >
      <img
        width="30"
        src="@/assets/svg/brain.png"
      />

      <n-text class="text">Cloud Service</n-text>
    </n-flex>

    <n-flex align="center">
      <n-switch
        size="small"
        :rail-style="railStyle"
        v-model:value="themeDark"
      >
        <template #checked-icon>
          <n-icon>
            <dark />
          </n-icon>
        </template>

        <template #unchecked-icon>
          <n-icon>
            <sun />
          </n-icon>
        </template>
      </n-switch>

      <n-divider vertical />

      <n-button
        v-if="!user"
        type="success"
        round
        class="sign-in"
        @click.prevent="emit('sign-in', 'in')"
      >
        Войти
      </n-button>

      <n-button
        v-if="!user"
        round
        secondary
        class="sign-up"
        @click.prevent="emit('sign-up', 'out')"
      >
        Регистрация
      </n-button>

      <n-button
        v-if="user"
        round
        secondary
        :loading="isLoadingSignOut"
        class="sign-out"
        @click.prevent="emit('sign-out')"
      >
        Выйти
      </n-button>

      <n-divider vertical />

      <n-button text>
        <n-icon size="25">
          <gitlab />
        </n-icon>
      </n-button>

      <n-button text>
        <n-icon size="25">
          <github />
        </n-icon>
      </n-button>
    </n-flex>
  </n-flex>
</template>

<style lang="scss" scoped>
.header {
  display: flex;
  align-items: center;
  height: 100%;
}

.text {
  font-size: 16px;
  font-weight: 600;
}

.link {
  font-size: 14px;
  line-height: 64px;

  font-weight: 500;
}

.sign-in {
  font-weight: 600 !important;
}

.sign-up {
  font-weight: 600 !important;
}
</style>
