<script setup lang="ts">
import { Upload as AUpload } from 'ant-design-vue';
import { isEmpty } from 'lodash-es';
import { useCurrentUser, useFirestore, useDocument } from 'vuefire';
import { doc } from 'firebase/firestore';

import { crumbs } from './consts';

import dogImage from '@/assets/dog01.jpg';

import { PageLayout, MBreadcrumb } from '@/shared/ui';

import { AnnotatorBoard } from '@/features/annotator-board';
import {
  FileInfo,
  getFixedColorHEXCode,
  Label,
  Markbox,
  ToolData,
} from '@/entities/annotation';

const route = useRoute();
const db = useFirestore();
const user = useCurrentUser();

const guid = computed(() => route.params?.id as string);

const { data } = useDocument(doc(db, 'datasets', user.value!.uid));

const dataset = computed(() =>
  data.value && data.value.items
    ? data.value.items.find((i: any) => i.uid === guid.value)
    : null,
);

const currentfile = computed(() => {
  return toolData.files.length === 0
    ? new FileInfo()
    : toolData.files[fileIndex.value];
});

const toolData: ToolData = reactive(new ToolData());

const fileIndex: Ref<number> = ref(0);

function changeLoadInfile(name: string, action: string): void {
  const index = toolData.files.findIndex((item) => item.name === name);
  if (index === -1) return;
  if (index === 0 && action === 'prev') return;
  const max = toolData.files.length - 1;
  if (index === max && action === 'next') return;

  const changeIndex = action === 'prev' ? index - 1 : index + 1;
  fileIndex.value = changeIndex;
}

function saveMarkbox(name: string, markboxes: Markbox[]) {
  const target = toolData.files.find((item) => item.name === name);
  if (!target) return;
  target.markboxes = JSON.parse(JSON.stringify(markboxes));
}

function getBase64(file: File) {
  return new Promise((resolve, reject) => {
    const reader = new FileReader();
    reader.readAsDataURL(file);
    reader.onload = () => resolve(reader.result);
    reader.onerror = (error) => reject(error);
  });
}

const previewVisible = ref(false);
const previewImage = ref('');
const previewTitle = ref('');

const keyFile = ref('');
const fileList = ref();

const handlePreview = async (file) => {
  if (!file.url && !file.preview) {
    file.preview = (await getBase64(file.originFileObj)) as string;
  }
  previewImage.value = file.url || file.preview;
  previewVisible.value = true;
  previewTitle.value =
    file.name || file.url.substring(file.url.lastIndexOf('/') + 1);

  const index = toolData.files.findIndex(
    (item) => item.name === previewTitle.value,
  );

  if (index === -1) return;

  fileIndex.value = index;
};

const beforeUpload = () => {
  return false;
};

const updateFile = async ({ file }: any) => {
  if (keyFile.value === 'del') return;

  let prev = '';

  prev = (await getBase64(file)) as string;

  toolData.files.push({
    name: file.name,
    markboxes: [],
    url: prev,
  });

  keyFile.value = 'change';
};

const remove = (file) => {
  toolData.files = toolData.files.filter((item) => item.name !== file.name);

  fileIndex.value = toolData.files.length - 1;

  keyFile.value = 'del';
};
</script>

<template>
  <n-space
    v-if="isEmpty(dataset)"
    class="app-loader"
    justify="center"
  >
    <n-spin size="large" />
  </n-space>

  <PageLayout
    v-else
    no-border
  >
    <template #breadcrumbs>
      <m-breadcrumb :crumbs="crumbs(dataset.class)" />
    </template>

    <template #header>
      <div class="header">
        {{ dataset.class }}
      </div>
    </template>

    <div class="clearfix">
      <a-upload
        multiple
        :before-upload="beforeUpload"
        v-model:file-list="fileList"
        list-type="picture-card"
        @preview="handlePreview"
        @change="updateFile"
        @remove="remove"
      >
        Добавить
      </a-upload>
    </div>

    <AnnotatorBoard
      v-if="!isEmpty(toolData.files)"
      :labels="dataset.class"
      :file="currentfile"
      @change-file="changeLoadInfile"
      @save-markbox="saveMarkbox"
    />
  </PageLayout>
</template>

<style lang="scss" scoped>
.n-upload {
  :deep(.n-upload-file-list.n-upload-file-list--grid) {
    grid-template-columns: repeat(auto-fill, 200px);
  }

  :deep(
      .n-upload-file.n-upload-file--info-status.n-upload-file--image-card-type
    ) {
    width: 100%;
    border-radius: 10px;
    height: 100%;
  }

  :deep(.n-upload-trigger.n-upload-trigger--image-card) {
    width: 100%;
    border-radius: 10px;
    height: 132px;
  }
}
.n-gradient-text {
  font-size: 36px;
}

.datasets {
  padding-top: 50px;

  &__title {
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 15px;
  }
}

.header {
  font-size: 36px;
  font-weight: 700;
}

.app-loader {
  height: 50vh;
  align-items: center;
}
</style>
